<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <h4 class="mr-4">Filtro: </h4>
  <div class="input-group mb-2">
    <input type="text" class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterStatusImg()">
          {{viewImg ?  'Mostrar' : 'Ocultar' }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="viewImg"
          [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}" alt=""
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td class="row justify-content-start">
        <button type="button" class="btn btn-primary btn-sm col-md-4">Editar</button>
        <button type="button" class="btn btn-danger btn-sm col-md-4 ms-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos && !eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

